.chooseus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 50px;
    background: #FAFAFA;

    .chooseus_top {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        h1{
            font-weight: 700;
            font-size: 40px;
            color: #252B42;
        }
        p{
            font-weight: 14px;
            font-weight: 500;
            color: #737373;
            width: 511px;
        }
    }

    .chooseus_cards {
        display: flex;
        gap: 20px;

        .choose_card {
            background-color: #fff;
            width: 238px;
            height: 209px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            text-align: center;
          
            
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }

        }
    }
}