#intro {
    background-image: url("../../assets/images/intro-background.png");
    background-repeat: no-repeat;
    // width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .intro_top {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        font-weight: 500;
        font-size: 20px;
        color: #737373;

        & h1 {
            width: 509px;
            font-weight: 800;
            font-size: 58px;
            color: #252b42;
        }

        .intro_buttons {
            display: flex;
            gap: 10px;

            a button {
                cursor: pointer;
                padding: 10px 36px 10px 36px;
                border-radius: 37px;
            }

            a .primary-btn {
                border: none;
                background-color: #ffa62b;
                color: #fff;
                border: 2px solid transparent;

                &:hover,
                &:focus {
                    color: #ffa62b;
                    background-color: transparent;
                    border: 2px solid #ffa62b;
                }
            }

            a .secondary-btn {
                border: 2px solid #00a0c1;
                color: #00a0c1;
                background-color: transparent;

                &:hover,
                &:focus {
                    background-color: #00a0c1;
                    color: #fff;
                }
            }
        }
    }

    .intro_bottom {
        width: 100%;
        display: flex;
        gap: 30px;
        margin-top: 50px;

        .intro_cards {
            width: 328px;
            height: 210px;
            box-shadow: 0px 15px 15px silver;
            background-color: #fff;
            display: grid;
            place-content: center;
            gap: 10px;
            padding: 35px 23px 35px 40px;

            h1 {
                font-weight: 700;
                font-size: 24px;
                color: #252b42;
            }

            p {
                font-weight: 500;
                font-size: 14px;
                color: #737373;
            }

            &:hover {
                box-shadow:
                    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }

        .card-primary {
            background-color: #00a0c1;
            h1,
            p {
                color: #fff;
            }
        }
    }
}
