.practice{
    background-color: #FAFAFA;
    padding-top: 185px;
    padding-bottom: 80px;
    display: grid;
    place-content: center;
    gap: 45px;

    &_top{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        
        h1 {
            font-weight: 700;
            font-size: 40px;
            color: #252B42;
        }

        p {
            width: 470px;
            font-weight: 500;
            font-size: 14px;
            color: #737373;
        }
    }
    &_cards {
        display: flex;
        gap: 34px;

        .card {
            width: 230px;
            height: 341px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            position: relative;
            padding-top: 30px;

            img{
                position: absolute;
                bottom: 0px;
            }

            h1 {
                width: 130px;
                font-weight: 700;
                font-size: 16px;
                color: #252B42;
            }

            p {
                width: 160px;
                font-weight: 500;
                font-size: 14px;
                color: #737373;
            }

            &:hover{
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }
        }
    }
}